<footer class = "site-footer"> 
  <div class="l-footer">
      <h1><img src="libcard.jpg" alt=""></h1>
      <p>Users can create and sign up for giveaways which, upon expiring, will select a random winner from the pool of entries. Users are able to view what giveaways they are a part of as well as past giveaways they participated in. Winners will receive the specified book from the giveaway host.</p>
  </div>

  <ul class="r-footer"></ul>
    <li>
        <h2>Explore</h2>
        <ul class="box">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Future Goals</a></li>
        </ul>
    </li>

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, tempora.
</footer>