<div>
    <h1>About Us</h1>
    <h3>Our Goal</h3>
    <p>To provide user the ability to get free books by way of a random giveaway</p>
    <h3>How</h3>
    <p>Enter Giveaways: We will have tons of giveaways that choose entries at random. 1 per contestant. Create giveaways: make a giveaway for you and your friends, or anyone on our platform to enter.</p>
    <h3>Our Future</h3>
    <p>Sending giveaway results to contestants via email. Winners board to show all our wonderful contestants. Comment board for contestant interaction.</p>
</div>
