<nav class="navbar navbar-expand-lg navbar-dark bg-dark-red">
    <div class="container px-5">
        <a class="navbar-brand" routerLink="/">Readaway</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/giveaways">Giveaways</a></li>
                <ng-container *ngIf="userId || registered; then showLogout; else showSignIn"></ng-container>
                <ng-template #showLogout>
                    <li class="nav-item"><a class="nav-link" routerLink="/giveaway/create">Create Giveaway</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/profile">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" (click) = "logout()" routerLink="/">Logout</a></li>
                </ng-template>
                <ng-template #showSignIn>
                    <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>