<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="rounded-circle me-3 book-icon" src="https://storage.googleapis.com/misc-github-images-bucket/Intbook.png" alt="happy-book" />
                    <div class="ms-3">
                        <div class="fw-bold">Created By:</div>
                        <div class="text-muted">{{currentGiveaway.creator.username}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{currentGiveaway.book_title}}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Created: {{createTime | date}}</div>
                    </header>
                    <!-- Preview image figure-->
                    <ng-container *ngIf="giveawayWinner; then showWinner; else showTimer">
                    </ng-container>
                    <ng-template #showWinner>
                    <figure class="mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid rounded" [src]="backgroundImg" onerror="this.onerror=null; this.src='https://storage.googleapis.com/misc-github-images-bucket/book.jpg'" alt="" />
                            </div>
                            <div class="col-md-6 headline">
                                <h1 class="mb-3">Congratulations, {{giveawayWinner}}!</h1>
                            <app-giveaway-button [entries]="currentGiveaway.entrants" [giveawayId]="+currentGiveaway.id" [giveawayWinner]="giveawayWinner"></app-giveaway-button>
                            </div>
                        </div>
                        </figure>
                        </ng-template>
                        <ng-template #showTimer>
                            <figure class="mb-4">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="img-fluid rounded" [src]="backgroundImg" onerror="this.onerror=null; this.src='https://storage.googleapis.com/misc-github-images-bucket/book.jpg'" alt="" />
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="mb-3">Enter to win!</h1>
                                    <app-giveaway-timer [endTimestamp]="currentGiveaway.endTime" [giveawayId]="+currentGiveaway.id"></app-giveaway-timer>
                                    </div>          
                                </div>
                            </div>    
                            </figure>
                            <div class="row">
                                <div class="col-sm">
                                    <app-giveaway-button [entries]="currentGiveaway.entrants" [giveawayId]="+currentGiveaway.id" [giveawayWinner]="giveawayWinner" [creatorId]="currentGiveaway.creator.id"></app-giveaway-button>
                                </div>
                            </div>                                 
                        </ng-template>
                        <div>
                            <h5>Love the book? Leave a comment!</h5>
                        </div>
                        <app-comment-section  [giveawayId]="currentGiveaway.id" [comments]="currentGiveaway.comments"></app-comment-section>
    