<ng-container *ngIf="currentGiveaway">
    <div title="book-image" class="p-5 text-center bg-image" [ngStyle]="{'background-image': 'url(' + backgroundImg + ')'}">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Enter to win!</h1>
                    <h5 class="mb-4">{{currentGiveaway.book_title}}</h5>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<!--Entries go here-->
