
.bg-image {
    height: 400px;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    .bg-image {
        height: 600px;
    }
}


.book-icon {
    max-width: 30px;
}

.headline {
    text-align: center;
}