<!-- <div>
    <p>{{ comment.comment_text }}</p>
</div>
<div>
    <p>{{ comment.post_time }}</p>
    <p (click)="toggleReplyBox()">reply</p>
</div>
<div *ngIf="replyBoxToggled">
    <textarea [(ngModel)]="commentText"></textarea>
    <button (click)="submit()">Submit</button>
</div>
<div style="margin-left:20px">
    <app-comment *ngFor="let reply of comment.replies" [comment]="reply"></app-comment>
</div> -->

<h5>Love the book? Leave a comment!</h5>
<div class="d-flex mb-4">
    <div class="flex-shrink-0"><img class="rounded-circle me-3 book-icon" src="https://storage.googleapis.com/misc-github-images-bucket/Intbook.png" alt="happy-book" /></div>
    <div class="ms-3">
        <div class="fw-bold">{{comment.user.username}}</div>
        {{comment.text}}
        <div class="text-muted">{{comment.postTime | date }}</div>
        <button class="btn btn-outline-secondary btn-sm" (click)="toggleReplyBox()">Reply</button>
        <div *ngIf="replyBoxToggled" class="card bg-light">
            <div class="card-body">
                <div class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!" [(ngModel)]="commentText"></textarea></div>
                <button (click)="submit()" class="btn btn-primary btn-sm">Submit</button>
            </div>  
        </div>
        <app-comment *ngFor="let reply of comment.replies" [comment]="reply"></app-comment>
   
