.book-image {
    max-width: 450px;
    max-height: 400px;
}

.book-icon {
    max-width: 30px;
}

.table-rows {
    padding-top: 5%;
    padding-left: 5%;
}

.giveaway-link :hover {
    cursor: pointer;
}