<div id="login-outer">
  <form [formGroup]="loginForm" id="login" class="login-form">
    <h1 class="title form-title">Registration</h1>
    <div>
      <div>
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" placeholder="username" class="form-control" formControlName="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" formControlName="password" placeholder="password">
      </div>
      <button type="submit" id="login-btn" (click)="login()">Login</button>
    </div>
  </form>
  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
</div>