<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Not Found</h1>
                    <p class="lead fw-normal text-muted mb-0">There doesn't seem to be any books here.</p>
                    <a routerLink="/giveaways">Return to the Giveaways</a>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-12"><img class="img-fluid rounded-3 mb-5 not-found-image" src="https://images.unsplash.com/photo-1453671424686-dfef17039343?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1384&q=80" alt="empty-bookshelf" /></div>
        </div>
    </div>
</section>