<div id="registration-outer">
  <form [formGroup]="registerForm" id="register">
    <h1>Registration</h1>
    <div>
      <div>
        <label for="email">E-mail:</label>
        <input type="text" class="form-control" id="email" formControlName="email" placeholder="email">
      </div>
      <div>
        <label for="username" >Username:</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="username">
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" formControlName="password" placeholder="password">
      </div>
      <button id="registration-btn" (click)="register()">Register</button>
    </div>
  </form>
</div>