<div id=""registration-outer>
  <div id="register">
    <h1>Registration</h1>
    <div></div>

    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" placeholder="username">
    </div>
    <div>
      <label for="email">E-mail:</label>
      <input type="text" id="email" placeholder="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="text" id="password" placeholder="password">
    </div>
    <button id="registration-btn">Login</button>
  </div>
</div>