<section class="py-5">
    <div class="container px-5 my-5" [ngClass]="{'selected': selectedIsbn && selectedIsbn === isbn}">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" [src]="imageUrl" onerror="this.onerror=null; this.src='https://storage.googleapis.com/misc-github-images-bucket/book.jpg'"></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Title</h2>
                <p class="lead fw-normal text-muted mb-0">{{title}}</p>
                <h4 class="fw-bolder">Author</h4>
                <p class="lead fw-normal text-muted mb-0">{{author}}</p>
            </div>
        </div>
    </div>
</section>