<div id="giveaway-tbl">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>ISBN</th>
                <th>Creator Id</th>
                <th>Winner Username</th>
                <th>Entries</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let giveaway of giveaways ">
                <th>{{ giveaway.id }}</th>
                <td>{{ giveaway.start_time }}</td>
                <td>{{ giveaway.end_time }}</td>
                <td>{{ giveaway.isbn }}</td>
                <td>{{ giveaway.book_title}}</td>
                <td>{{ giveaway.creator_id}}</td>  
                <td>{{ giveaway.winner_username}}</td>
                <td>{{ giveaway.entries}}}}</td>
            </tr>
        </tbody>
    </table>
</div>