.book-image {
    width: 200px;
    height: 300px;
    margin-left: 20%;
}

.book-icon {
    max-width: 30px;
}

.table-rows {
    padding-top: 5%;
    padding-left: 5%;
    margin-right: auto;
}

.giveaway-link :hover {
    cursor: pointer;
}

h1, h4 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}