
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: beige;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #060707;
	line-height: 50px;
	padding:0px 100px;
	position: fixed;
	z-index: 1;
}
nav .logo{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px; 
}
nav .logo p{
	float: left;
	color:#fff;
	text-transform: uppercase;
}
nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style: none;
}
nav ul li a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	padding:0px 32px;
}
nav ul li a:hover{
	color:#5e634e;
}
nav ul li .active{
	color:#edeee8;
}

div {
	float: left;	
}

div .jumbotron {
	position: absolute;
	padding-top: 50px;
	size: 100%;
}
#leftSide {
	margin-left: 3px;
	background-color: beige;
	padding-top: 30px;
	padding-bottom: 500px;
}
#lgn-rgstr-btn {
	background-color: beige;
	width: 50%;
}
#modal-497573 {
	background-color: tan;
	border: solid;
}

#modal-container-497573 {
	padding-bottom: 10px;
}

#modal-460137 {
	position: center;
	background-color:tan;
	border: solid;
}

.carousel-item {
	padding-top: 300;
}

