<body>
	<nav>
		<div class="logo">
			<p>Readaway</p>
		</div>
		<ul>
			<li><a routerLink="/" class="active">home</a></li>
			<li><a routerLink="/about">about</a></li>
			<li><a routerLink="/about">help</a></li>
			<li><a routerLink="/contactus">contact us</a></li>
		</ul>
	</nav> 
	<div class="col-md-6" id="leftSide">
		<div class="jumbotron">
			<h2>
				Sign Up Today For Free Books!
			</h2>
			<h6>
				Welcome to Readaway, a Free Book Giveaway API
			</h6>
		</div><br>
	</div>
	<div class="container"	id="lgn-rgstr-btn">
		<a id="modal-497573" href="#modal-container-497573" role="button" class="btn" data-toggle="modal">Login</a><br>
		
	<div class="modal fade" id="modal-container-497573" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">
						Modal title
					</h5> 
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					 
					<button type="button" class="btn btn-primary">
						Save changes
					</button> 
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		
		</div>
		
	</div><br>
	
	 <a id="modal-460137" href="#modal-container-460137" role="button" class="btn" data-toggle="modal">Register</a>
	
	<div class="modal fade" id="modal-container-460137" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">
						Modal title
					</h5> 
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					 
					<button type="button" class="btn btn-primary">
						Save changes
					</button> 
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
			
		</div>
		
	</div>


	</div>
	
	<div class="col-md-6" id="rightSide">
			<!-- Insert background image here, under the carousel -->
			<figure>
				<div id="fixed-wrap">
					<img src="/pexels-library1.jpg">
				</div>
			</figure>

	</div>
 <!-- </body> -->
